<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="text-white p-3" id="sidebar">
      <h4>Admin Panel</h4>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/adminDashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/adminTask">Tasks</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/settings">Settings</a></li>
      </ul>
    </div>
  
    <!-- Page Content -->
    <div id="page-content-wrapper" class="w-100">
  
      <!-- Main Content -->
      <div class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-3" id="main-content">
          <h3 class="text-primary">User Management</h3>
          <button class="btn btn-success" (click)="openModal()">
            <i class="bi bi-plus-circle me-1"></i> Add User
          </button>
        </div>
  
        <div class="table-responsive shadow-sm border rounded">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList; let i = index">
                <td>{{i+1}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.userName }}</td>
                <td>{{ item.roleName }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phoneNumber }}</td>
                <td>{{ item.gender }}</td>
                <td>
                  <span class="badge" [ngClass]="item.status ? 'bg-success' : 'bg-secondary'">
                    {{ item.status ? 'Active' : 'Inactive' }}
                  </span>
                </td>
                <td class="text-center">
                  <button class="btn btn-outline-success btn-sm" (click)="onEdit(item)">
                    <i class="bi bi-pencil"></i> Edit
                  </button>
                  ||
                  <button class="btn btn-outline-danger btn-sm" (click)="onDelete(item.id)">
                    <i class="bi bi-trash"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
   
        <div class="modal-header" style="background-color: #a2b0c5;">
            @if(userForm.value.id != 0)
            {
                <h5 class="modal-title">Update User</h5>
            }
            @else{
                <h5 class="modal-title">Add User</h5>
            }
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
          </div>
  
        <form [formGroup]="userForm" (ngSubmit) ="onSubmit()">
        <!-- Modal body -->
        <div class="modal-body">
         <div>
            <div class="row">
                <div class="col-12">
                    <input type="text" formControlName="name" name="name" class="form-control" placeholder="Name">
                </div>
            </div>
         </div>   
         <div class="row mt-3">
            <div class="col-12">
                <input type="text" formControlName="userName" name="userName" class="form-control" placeholder="UserName">
                <div *ngIf="userNameControl?.touched && userNameControl?.errors?.['usernameTaken']" class="text-danger mt-1"
                style="font-size: 11px; margin-left: 10px;">
                    *This username is already taken.
                  </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-6">
                <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
                <div *ngIf="emailControl?.errors?.['required']" class="text-danger mt-1"
                style="font-size: 11px; margin-left: 10px;">*Email is required.</div>
                <div *ngIf="emailControl?.errors?.['email']"class="text-danger mt-1"
                style="font-size: 11px; margin-left: 10px;">Email format is invalid.</div>
                <div *ngIf="emailControl?.errors?.['pattern']" class="text-danger mt-1"
                style="font-size: 11px; margin-left: 10px;">Email must include a valid domain (like .com, .org).</div>
                <div *ngIf="emailControl?.errors?.['emailExists']" class="text-danger mt-1"
                    style="font-size: 11px; margin-left: 10px;">This email is already registered.
                </div>
            </div>
            <div class="col-6">
                <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password">
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-6">
                <input type="text" formControlName="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number">
                <div *ngIf="phoneNumberControl?.touched && phoneNumberControl?.invalid" class="text-danger mt-1">
                    <div *ngIf="phoneNumberControl?.errors?.['required']" class="text-danger mt-1" 
                    style="font-size: 11px; margin-left: 10px;">Phone number is required.</div>
                    <div *ngIf="phoneNumberControl?.errors?.['minlength']" class="text-danger mt-1"
                    style="font-size: 11px; margin-left: 10px;">Phone number must be 10 digits.</div>
                    <div *ngIf="phoneNumberControl?.errors?.['maxlength']" class="text-danger mt-1"
                    style="font-size: 11px; margin-left: 10px;">Phone number must be 10 digits.</div>
                    <div *ngIf="phoneNumberControl?.errors?.['pattern']" class="text-danger mt-1"
                    style="font-size: 11px; margin-left: 10px;">Phone number must contain only digits.</div>
                  </div>
            </div>
            <div class="col-6">
                <select formControlName="gender" class="form-control" id="gender" autocomplete="off">
                    <option Value="" disabled>Select Gender</option>
                    <option Value="Male">Male</option>
                    <option Value="Female">Female</option>
                    <option Value="Other">Other</option>
                  </select>
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-6"> 
                <label for="roleid" class="form-label"  style="margin-left: 10px;">Role</label>
                <select formControlName="roleid" class="form-control" id="roleid" autocomplete="off">
                    <option [value]="" disabled>Select Role</option>
                    <option [value]="1">Admin</option>
                    <option [value]="2">User</option>
                  </select>
            </div>
         </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            @if(userForm.value.id == 0){
                <button type="submit" [disabled]="this.userForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        }
        @else{
            <button type="submit" [disabled]="this.userForm.invalid" class="btn btn-success" data-bs-dismiss="modal">Update</button>
        }
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>